@model Discussions.Models.Topic

<style>
.dateText {
    float: right;
    margin: 0px;
}
.authorText {
    
}

#authorImage {
    border-radius: 30px;
    padding: 20px; 
    width: 60px;
    height: 60px;
}

.commentText {
    clear: right;
    padding-left: 80px;
    padding-top: 20px;

}

.reply-box {
    float: left;
    width: 48%;
    margin: 1%;
    resize: none;
}

.gallery-text {
    float: left;
    width: 48%;
    margin: 1%;
}
.gallery-text p {
    word-break: break-all;
}

</style>

<h3>@Model.title</h3>
@foreach (var item in @Model.comments)
{
<hr>
<p>
    <img src=@item.author.imageUrl width="80" style="float: left; padding-right: 20px;" />
    <div class="dateText">3d ago</div>
    <div class="authorText">@item.author.name</div>
    <div class="commentText">@Html.Raw(@item.message)</div>
</p>   
}
<a id="replyButton" onclick="makeReplyBoxVisible();">Reply</a>

<div id="replyBox" style="display:none;">
    <div class="gallery-text">
        <h3>Reply</h3>
        <textarea id="textbox" class="reply-box" style="width:100%;" rows="15" cols="50" oninput="textAreaChanged(this);"></textarea>
    </div>
    <div class="gallery-text">
        <h3>Preview</h3>
        <p id="previewBox">
            
        </p>
    </div>  
</div>

<div style="clear:left">
<a id="postButton" style="display:none;" onclick="postComment();">Submit</a>
<a id="cancelButton" style="display:none;" onclick="cancelReply();">Cancel</a>
</div>


<script>
    function makeReplyBoxVisible()
    {
        $('#replyBox').show();
        $('#cancelButton').show();
        $('#replyButton').hide();
        $('#postButton').show();
    }
    
    function cancelReply() 
    {
        $('#replyBox').hide();
        $('#cancelButton').hide();
        $('#replyButton').show();
        $('#postButton').hide();
    }

    function postComment()
    {
        var comment = jQuery("textarea#textbox").val();
        $.ajax({
            type: 'POST',
            url: '/topic/postcomment?id=@Model.id&comment='+encodeURIComponent(x),
            dataType: "html",
            success: function(result){
                window.location.href = "/"
            }
        });
    }

    function textAreaChanged(textArea)
    {
         x = textArea.value;
         $.ajax({
            url: "/topic/welcome?markdown="+encodeURIComponent(x),
            context: document.body
        }).done(function( data ) {
            document.getElementById("previewBox").innerHTML = data
        });

    }
    
</script>
