@model Discussions.Models.Topic

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

.dateText {
    float: right;
    margin: 0px;
}
.authorText {
    
}

.submitButton {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
}

.cancelButton {
    background-color: white;
    border: none;
    color: black;
    margin-left: 12px;
    font-size: 14px;
    cursor: pointer;
}

.replyButton {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    height: 10px;
}
body {
    padding-bottom: 20px;
}

.bottomReply {
    box-shadow:  0 -8px 80px 8px rgba(0, 0, 0, 0.1), 0 20px 50px 0 rgba(0, 0, 0, 0.19);
    background: white;
    display: none;
    width: 90vw;
    margin-left: -45vw;
    margin-top:auto;
    left: 50%;
    position:fixed;
    padding-bottom:20px;
    bottom:0;
}

#authorImage {
    border-radius: 30px;
    padding: 20px; 
    width: 60px;
    height: 60px;
}

.commentText {
    clear: right;
    padding-left: 80px;
    padding-top: 20px;

}

.reply-box {
    float: left;
    width: 48%;
    margin: 1%;
    resize: none;
}

.gallery-text {
    float: left;
    width: 48%;
    margin: 1%;
}
.gallery-text p {
    word-break: break-all;
}

</style>

<h3>@Model.title</h3>
@foreach (var item in @Model.comments)
{
<hr>
<p>
    <img src=@item.author.imageUrl width="80" style="float: left; padding-right: 20px;" />
    <div class="dateText">3d ago</div>
    <div class="authorText">@item.author.name</div>
    <div id="comment-text-@item.id.ToString()" class="commentText">@Html.Raw(@item.message)</div>
    @if (item.author.id == new System.Guid("667F39D4-9CE0-4BE7-954C-FD2D04CDD38B")) {
        <div id="edit-box-@item.id.ToString()" style="display:none; clear: right; padding-left: 80px; padding-top: 20px;">
            <div class="gallery-text">
                <textarea id="edit-textbox-@item.id.ToString()" class="reply-box" style="width:100%;" rows="15" cols="50" oninput="textAreaChanged(this, '@item.id.ToString()');"></textarea>
            </div>
            <div class="gallery-text">
                <p id="previewBox-@item.id.ToString()"></p>
            </div>  
            <div style="clear:left">
                <a id="saveEditButton" onclick="saveEdit('@item.id.ToString()');">Save</a>
                <a id="cancelEditButton" onclick="cancelEdit('@item.id.ToString()');">Cancel</a>
            </div>
        </div>
        <a id="editButton-@item.id.ToString()" onclick="beginEditing('@item.id.ToString()', '@item.rawComment')">Edit</a>
        <a id="deleteButton-@item.id.ToString()" onclick="deleteComment('@item.id.ToString()');">Delete</a>
    }
</p>   
}
<hr></hr>
<button class="submitButton" id="replyButton" style="" onclick="makeReplyBoxVisible();"><i class="fa fa-reply"></i>  Reply</button>

<div id="replyBox" class="bottomReply">
    <div class="gallery-text">
        <p style="padding-left:10px;"><b>Reply to:</b> @Model.title</p>
        <textarea id="textbox" class="reply-box" style="width:100%;" rows="15" cols="50" oninput="textAreaChanged(this);"></textarea>
    </div>
    <div class="gallery-text">
        <p id="previewBox" style="padding-top:36px;"></p>
    </div>  
    <div style="clear:left; padding-left:20px;">
        <button class="submitButton" onclick="postComment();"><i class="fa fa-reply"></i>   Reply</button>
        <button class="cancelButton" id="cancelButton" style="display:none;" onclick="cancelReply();">Cancel</button>
</div>
</div>


<script>

    $('.bottomReply').resizable({
        handles: 'n,w,s,e',
        minHeight: 300,
        maxHeight: 900
    });

    function makeReplyBoxVisible()
    {
        $('#replyBox').show();
        $('#cancelButton').show();
        $('#replyButton').hide();
        $('#postButton').show();
        document.body.style.paddingBottom = "450px"
    }
    
    function cancelReply() 
    {
        $('#replyBox').hide();
        $('#cancelButton').hide();
        $('#replyButton').show();
        $('#postButton').hide();
        document.body.style.paddingBottom = "20px"
    }

    function postComment()
    {
        var comment = jQuery("textarea#textbox").val();
        $.ajax({
            type: 'POST',
            url: '/topic/postcomment?id=@Model.id&comment='+encodeURIComponent(x),
            dataType: "html",
            success: function(result){
                window.location.href = "/"
            }
        });
    }

    function textAreaChanged(textArea, commentId)
    {
	    var box = "previewBox"+(commentId != null ? "-"+commentId : "")
         x = textArea.value;
         $.ajax({
            url: "/topic/ToHTML?markdown="+encodeURIComponent(x),
            context: document.body
        }).done(function( data ) {
            if (data != null) {
                document.getElementById(box).innerHTML = data
            }
        });
    }

    function deleteComment(id) {
        $.ajax({
            type: 'POST',
            url: '/topic/deletecomment?commentId='+encodeURIComponent(id),
            dataType: "html",
            success: function(result){
                window.location.href = "/"
            }
        });
    }

     function beginEditing(commentId, comment)
    {
        toggleEditingViews(commentId, true)
        var commentBoxId = 'edit-textbox-'+commentId
        var textBox = document.getElementById(commentBoxId)
        textBox.value = comment;
        textAreaChanged(textBox, commentId)
    }

    function saveEdit(commentId) 
    {
        var commentBoxId = 'edit-textbox-'+commentId
        var textBox = document.getElementById(commentBoxId)
        var message = textBox.value
        $.ajax({
            type: 'POST',
            url: '/topic/editcomment?commentId='+encodeURIComponent(commentId)+"&message="+encodeURIComponent(message),
            dataType: "html",
            success: function(result){
                window.location.href = "/"
            }
        });
    }

    function cancelEdit(commentId)
    {
        toggleEditingViews(commentId, false)
    }

    function toggleEditingViews(commentId, shouldEdit) 
    {
        var viewId = 'edit-box-'+commentId
        var editId =  'editButton-'+commentId
        var deleteId = 'deleteButton-'+commentId
        var commentBoxId = 'comment-text-'+commentId
        if (shouldEdit) {
            $('#'+viewId).show();
            $('#'+editId).hide();
            $('#'+deleteId).hide();
            $('#'+commentBoxId).hide();
        } else {
            $('#'+viewId).hide();
            $('#'+editId).show();
            $('#'+deleteId).show();
            $('#'+commentBoxId).show();
        }
    }

    
</script>
